/*** CONTAINER ***/
.container{width:1000px;}
.grid980{width:980px;}
.grid720{width:720px;}

/*** FULL PAGE ***/
.grid-f4{width:647px;}
.grid-f3{width:484px;}
.grid-f2{width:312px;}
.grid-f1{width:234px;}


/*** MAIN ***/
.grid-m4{width:475px;}
.grid-m3{width:355px;}
.grid-m2{width:230px;}
.grid-m1{width:171px;}

/*** ***/
.grid250{width:250px;}

.grup